---
import Main from "../layouts/Main.astro";
import {getActivePostsCollection} from "../utils/utils";
import PostTeaser from "../components/PostTeaser.astro";
import site from "../data/config";
import ArrowLeft from "../assets/icons/arrow-left.svg";
import ArrowRight from "../assets/icons/arrow-right.svg";

const posts = await getActivePostsCollection(false, true);

---

<Main title={site.name} full_title={true} meta_description={site.description}>
  <Fragment slot="head">
    {posts.length > site.pagination ? <link rel="next" href={site.url + '/page/2/'} /> : null}
  </Fragment>

  <div>
    {posts.slice(0, site.pagination).map(post => (
      <PostTeaser post={post}/>
    ))}
  </div>

  <div class="pagination">
    <div class="pagination__item pagination__item--previous"></div>
    <div class="pagination__item pagination__item--archive">
      <a class="pagination__link" href="/archives/">Blog Archives</a>
    </div>
    <div class="pagination__item pagination__item--next">
      {posts.length > site.pagination ? <a class="pagination__link" href="/page/2/">Older <ArrowRight class="icon" role="img" aria-hidden="true" /></a> : ''}
    </div>
  </div>
</Main>

